In [45]:
import pandas as pd
import csv

In [2]:
file = pd.read_excel("Copy of Trade History.xlsx")
starting_point = pd.read_excel("Portfolio at end of 2009.xlsx")
file.head()
starting_point.head()
print(starting_point)

    Unnamed: 0 Trade Date Sector Ticker            Security Description  \
0          NaN 2009-12-31     CD    DIS                  WALT DISNEY CO
1          NaN 2009-12-31     CD    MCD                 MCDONALD'S CORP
2          NaN 2009-12-31     CD    AZO                    AUTOZONE INC
3          NaN 2009-12-31     CD    VFC                         VF CORP
4          NaN 2009-12-31     CD    LOW            LOWE'S COMPANIES INC
5          NaN 2009-12-31     CS     KO           THE COCA-COLA COMPANY
6          NaN 2009-12-31     CS     PM  PHILIP MORRIS INTERNATIONAL IN
7          NaN 2009-12-31     CS    CVS                 CVS HEALTH CORP
8          NaN 2009-12-31     CS    RAH            RALCORP HOLDINGS INC
9          NaN 2009-12-31     CS    DEO                      DIAGEO PLC
10         NaN 2009-12-31     CS     PG    THE PROCTER & GAMBLE COMPANY
11         NaN 2009-12-31      E    APA                     APACHE CORP
12         NaN 2009-12-31      E    XOM                EXXON MOBIL CORP
13         NaN 2009-12-31      E     NE          NOBLE CORPORATION BAAR
14         NaN 2009-12-31      E    SLB                SCHLUMBERGER LTD
15         NaN 2009-12-31      E    CHK          CHESAPEAKE ENERGY CORP
16         NaN 2009-12-31      E    SWN          SOUTHWESTERN ENERGY CO
17         NaN 2009-12-31    FIN   HCBK         HUDSON CITY BANCORP INC
18         NaN 2009-12-31    FIN     GS         THE GOLDMAN SACHS GROUP
19         NaN 2009-12-31    FIN    BLK                   BLACKROCK INC
20         NaN 2009-12-31    FIN    MET                     METLIFE INC
21         NaN 2009-12-31    FIN    IVZ                     INVESCO LTD
22         NaN 2009-12-31    FIN    JPM             JPMORGAN CHASE & CO
23         NaN 2009-12-31    FIN     CS          CREDIT SUISSE GROUP AG
24         NaN 2009-12-31    FIN   SIVB             SVB FINANCIAL GROUP
25         NaN 2009-12-31      H   GILD             GILEAD SCIENCES INC
26         NaN 2009-12-31      H    ABT             ABBOTT LABORATORIES
27         NaN 2009-12-31      H   TEVA  TEVA PHARMACEUTICAL INDUSTRIES
28         NaN 2009-12-31      H    JNJ               JOHNSON & JOHNSON
29         NaN 2009-12-31      H    HAE                HAEMONETICS CORP
30         NaN 2009-12-31    IND     WM            WASTE MANAGEMENT INC
31         NaN 2009-12-31    IND   BUCY       BUCYRUS INTERNATIONAL INC
32         NaN 2009-12-31    IND    NOC           NORTHROP GRUMMAN CORP
33         NaN 2009-12-31    IND    UNP       UNION PACIFIC CORPORATION
34         NaN 2009-12-31    IND    HON     HONEYWELL INTERNATIONAL INC
35         NaN 2009-12-31     IT    IBM  INTERNATIONAL BUSINESS MACHINE
36         NaN 2009-12-31     IT  GOOGL               ALPHABET INC-CL A
37         NaN 2009-12-31      H   CERN                     CERNER CORP
38         NaN 2009-12-31     IT    APH                   AMPHENOL CORP
39         NaN 2009-12-31     IT   MANT   MANTECH INTERNATIONAL CORP/VA
40         NaN 2009-12-31     IT   SNPS                    SYNOPSYS INC
41         NaN 2009-12-31     IT     SY                  SYBASE INC COM
42         NaN 2009-12-31    MAT    FCX            FREEPORT-MCMORAN INC
43         NaN 2009-12-31      E    BHP                BHP BILLITON LTD
44         NaN 2009-12-31    MAT    PPG              PPG INDUSTRIES INC
45         NaN 2009-12-31    MAT     PX                     PRAXAIR INC
46         NaN 2009-12-31    MAT    GEF                       GREIF INC
47         NaN 2009-12-31     IT   CSCO               CISCO SYSTEMS INC
48         NaN 2009-12-31    TEL    AMT             AMERICAN TOWER CORP
49         NaN 2009-12-31    TEL     VZ      VERIZON COMMUNICATIONS COM
50         NaN 2009-12-31      U    OGE                 OGE ENERGY CORP
51         NaN 2009-12-31      U    NEE                   FPL GROUP INC
52         NaN 2009-12-31      U    WEC            WEC ENERGY GROUP INC

        Total  Shares    Price  Comm  Fees Settle Date  Principal Trade Type
0   -85462.50    2650   32.250    -8     0  2009-12-31  -85454.50        BUY
1   -79611.00    1275   62.440    -8     0  2009-12-31  -79603.00        BUY
2   -45840.30     290  158.070    -8     0  2009-12-31  -45832.30        BUY
3   -46287.68     632   73.240    -8     0  2009-12-31  -46279.68        BUY
4   -58475.00    2500   23.390    -8     0  2009-12-31  -58467.00        BUY
5   -79800.00    1400   57.000    -8     0  2009-12-31  -79792.00        BUY
6   -74694.50    1550   48.190    -8     0  2009-12-31  -74686.50        BUY
7   -88577.50    2750   32.210    -8     0  2009-12-31  -88569.50        BUY
8   -56724.50     950   59.710    -8     0  2009-12-31  -56716.50        BUY
9   -83292.00    1200   69.410    -8     0  2009-12-31  -83284.00        BUY
10  -97008.00    1600   60.630    -8     0  2009-12-31  -97000.00        BUY
11 -117613.80    1140  103.170    -8     0  2009-12-31 -117605.80        BUY
12 -112172.55    1645   68.190    -8     0  2009-12-31 -112164.55        BUY
13 -162393.00    3990   40.700    -8     0  2009-12-31 -162385.00        BUY
14  -67042.70    1030   65.090    -8     0  2009-12-31  -67034.70        BUY
15  -75699.00    2925   25.880    -8     0  2009-12-31  -75691.00        BUY
16  -74131.60    1538   48.200    -8     0  2009-12-31  -74123.60        BUY
17  -52585.90    3830   13.730    -8     0  2009-12-31  -52577.90        BUY
18 -105525.00     625  168.840    -8     0  2009-12-31 -105517.00        BUY
19  -66177.00     285  232.200    -8     0  2009-12-31  -66169.00        BUY
20  -47369.00    1340   35.350    -8     0  2009-12-31  -47361.00        BUY
21  -52382.70    2230   23.490    -8     0  2009-12-31  -52374.70        BUY
22 -137844.36    3308   41.670    -8     0  2009-12-31 -137836.36        BUY
23  -54567.60    1110   49.160    -8     0  2009-12-31  -54559.60        BUY
24  -49992.00    1200   41.660    -8     0  2009-12-31  -49984.00        BUY
25  -94544.95    2185   43.270    -8     0  2009-12-31  -94536.95        BUY
26 -110679.50    2050   53.990    -8     0  2009-12-31 -110671.50        BUY
27 -128652.20    2290   56.180    -8     0  2009-12-31 -128644.20        BUY
28  -67630.50    1050   64.410    -8     0  2009-12-31  -67622.50        BUY
29  -82725.00    1500   55.150    -8     0  2009-12-31  -82717.00        BUY
30  -58322.25    1725   33.810    -8     0  2009-12-31  -58314.25        BUY
31 -104284.50    1850   56.370    -8     0  2009-12-31 -104276.50        BUY
32  -69812.50    1250   55.850    -8     0  2009-12-31  -69804.50        BUY
33  -78277.50    1225   63.900    -8     0  2009-12-31  -78269.50        BUY
34 -108780.00    2775   39.200    -8     0  2009-12-31 -108772.00        BUY
35 -133518.00    1020  130.900    -8     0  2009-12-31 -133510.00        BUY
36 -142595.40     460  309.990    -8     0  2009-12-31 -142587.40        BUY
37 -128606.40    1560   82.440    -8     0  2009-12-31 -128598.40        BUY
38  -93283.60    2020   46.180    -8     0  2009-12-31  -93275.60        BUY
39  -70576.40    1460   48.340    -8     0  2009-12-31  -70568.40        BUY
40  -73412.60    3295   22.280    -8     0  2009-12-31  -73404.60        BUY
41  -97216.00    2240   43.400    -8     0  2009-12-31  -97208.00        BUY
42  -43196.02     538   80.290    -8     0  2009-12-31  -43188.02        BUY
43  -40204.50     525   76.580    -8     0  2009-12-31  -40196.50        BUY
44  -38636.40    1320   29.270    -8     0  2009-12-31  -38628.40        BUY
45  -16865.10     210   80.310    -8     0  2009-12-31  -16857.10        BUY
46  -36274.56     672   53.980    -8     0  2009-12-31  -36266.56        BUY
47  -30978.36    1294   23.940    -8     0  2009-12-31  -30970.36        BUY
48  -34568.00     800   43.210    -8     0  2009-12-31  -34560.00        BUY
49  -65597.40    1980   33.130    -8     0  2009-12-31  -65589.40        BUY
50  -36890.00    1000   36.890    -8     0  2009-12-31  -36882.00        BUY
51  -36974.00     700   52.820    -8     0  2009-12-31  -36966.00        BUY
52  -40362.30    1620   24.915    -8     0  2009-12-31  -40354.30        BUY

In [3]:
#Makes the starting point portfolio which will be inputed below in make_portfolio
holdings = {}
for row in starting_point.itertuples():
    holdings[row[4]] = row[7]
print(holdings)    

#Fixing for now 
holdings.update({'FTR':"*"})
print(len(holdings))

{'DIS': 2650, 'MCD': 1275, 'AZO': 290, 'VFC': 632, 'LOW': 2500, 'KO': 1400, 'PM': 1550, 'CVS': 2750, 'RAH': 950, 'DEO': 1200, 'PG': 1600, 'APA': 1140, 'XOM': 1645, 'NE': 3990, 'SLB': 1030, 'CHK': 2925, 'SWN': 1538, 'HCBK': 3830, 'GS': 625, 'BLK': 285, 'MET': 1340, 'IVZ': 2230, 'JPM': 3308, 'CS': 1110, 'SIVB': 1200, 'GILD': 2185, 'ABT': 2050, 'TEVA': 2290, 'JNJ': 1050, 'HAE': 1500, 'WM': 1725, 'BUCY': 1850, 'NOC': 1250, 'UNP': 1225, 'HON': 2775, 'IBM': 1020, 'GOOGL': 460, 'CERN': 1560, 'APH': 2020, 'MANT': 1460, 'SNPS': 3295, 'SY': 2240, 'FCX': 538, 'BHP': 525, 'PPG': 1320, 'PX': 210, 'GEF': 672, 'CSCO': 1294, 'AMT': 800, 'VZ': 1980, 'OGE': 1000, 'NEE': 700, 'WEC': 1620}
54

In [4]:
#Simple EDA
file.describe()
file.head()
file.tail()
file.dtypes

Unnamed: 0                     float64
Trade Date              datetime64[ns]
Sector                          object
Ticker                          object
Security Description            object
Total                          float64
Shares                           int64
Price                          float64
Comm                           float64
Fees                           float64
Settle Date             datetime64[ns]
Principal                      float64
Trade Type                      object
Unnamed: 13                     object
Unnamed: 14                     object
dtype: object

In [5]:
cleaned = file[['Trade Date','Sector','Ticker','Security Description','Total','Shares','Price','Comm','Fees','Principal','Trade Type']].copy()
cleaned.columns

Index(['Trade Date', 'Sector', 'Ticker', 'Security Description', 'Total',
       'Shares', 'Price', 'Comm', 'Fees', 'Principal', 'Trade Type'],
      dtype='object')

In [6]:
cleaned.columns = ['trade_date','Sector', 'Ticker', 'Security Description', 'Total', 'Shares', 'Price','Comm', 'Fees', 'Principal', 'Trade Type']
cleaned['Shares']= cleaned['Shares'].astype(int)
cleaned.head(15)
cleaned.dtypes

trade_date              datetime64[ns]
Sector                          object
Ticker                          object
Security Description            object
Total                          float64
Shares                           int64
Price                          float64
Comm                           float64
Fees                           float64
Principal                      float64
Trade Type                      object
dtype: object

In [43]:
def make_portfolio(datatable,date):
    ts = pd.to_datetime(date)
    
    # Make the initial Portfoliol loaded in an an excel file name "Starting Point" above
    holdings = {}
    for row in starting_point.itertuples():
        holdings[row[4]] = row[7]   
        #Fixing for now 
    holdings.update({'FTR':"*"})
    
    #Create a copy of the trade history up to the provided date and execute transactions
    
    working = datatable[datatable.trade_date <= ts]

    for row in working.itertuples():
        type_change = row[11]
        shares = int(row[6])
        ticker = row[3]
        current_date = row[1]


        if type_change == "ADD":
            holdings[ticker] = holdings.get(ticker, "Error") + shares 

        elif type_change == "SHAVE":
            holdings[ticker] = holdings.get(ticker,"Error") + shares


        elif type_change == "BUY":
            holdings.update({ticker:shares})

        elif type_change == "SELL":
            holdings.pop(ticker)

        else:
            print("error")

    

    print(len(holdings))
    return(holdings)

In [95]:
 a = make_portfolio(cleaned,'3/10/2012')

57

In [110]:
use = list(a.items())
df=pd.DataFrame(use,columns = ['Ticker','Shares'])
df['Ticker'] = df['Ticker'].astype(str)
df.sort_values(by='Ticker')
df.head(50)

   Ticker  Shares
0     MCD     540
1      PM    1110
2      PG    1330
3     IBM     555
4   GOOGL     460
5     PPG    1320
6     AMT     800
7      VZ    1135
8     WEC    1620
9    ANTM     875
10    NVS    1099
11    WFC    3800
12     CB    1300
13    EMC    4000
14    COP    1252
15    GWW     238
16    CSX    1075
17    TJX    6840
18   VIAB    1340
19    MKC    1450
20    PRU    1150
21    OGE     635
22     KO    1350
23     DE    1075
24      D    1317
25     NE    1400
26    XBI     638
27   AAPL    2555
28    XOM    1472
29      T     875
30    PFE    4332
31   VRSN    3015
32     SE    1372
33    HNZ    1630
34    ABT    1249
35     FE     754
36    UTX    1150
37     DD     925
38    APA     689
39      M    1775
40     GE    5150
41     MS    3200
42    STJ    1820
43    RIO     578
44     HD    1230
45   MSFT    2980
46    IYR    1100
47   INTC    2055
48    SLB     778
49    JPM    2300

  Ticker  Shares
0    MCD     540
1     PM    1110
2     PG    1330
3    IBM     555
4  GOOGL     460